/*
 *  HTML Elements
 */

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Museo Sans", Arial, sans-serif;
}

h1 {
    color: #146077;
    font-weight: 600;
}

h2 {
     font-size: 1.5rem;
    font-weight: 700;
}

h5 {
    font-weight: 700;
}

p {
    letter-spacing: 0.02em;
}

a {
    color: #E31837;
    transition: all 0.25s;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}


/*
 *  Bootstrap Elements
 */

.btn-outline-light {
    border-width: 2px;
    font-weight: 700;
}


/*
 *  Site Components
 */

#header {
    background: #000;
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('assets/cyber-background-red-oa.jpg');
    height: 100vh;
    min-height: 600px;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    background-repeat: no-repeat;
}

#header-content {
    width: 100%;
    position: absolute;
    z-index: 10;
    padding-top: 27vh;
}

#header-content img {
    width: 90%;
    max-width: 350px;
    height: auto;
    text-shadow: 5px 5px #000;
}

#header-background {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: 0;
    height: 100%;
    width: 100%;
}

#content p {
    font-size: 1.2rem;
}

#content h5 {
    color: #E31837;
    font-family: 'Museo Slab', Arial, sans-serif;
    font-size: 1.25rem;
    font-weight: 300;
    text-transform: uppercase;
}

#content hr {
    border-top: 3px solid #E31837;
    width: 50%;
}

#programs {
    background-color: #ccc;
    background-image: url('assets/circuit-background.svg');
}

#call-to-action {
    background: #E31837;
    font-size: 1.25rem;
}

#call-to-action span {
    display: inline-block;
    color: white;
    font-weight: 700;
    padding-right: 1rem;
}

#footer {
    background: #000000;
    padding-top: 20px;
    padding-bottom: 30px;
}

#footer .logo {
    width: 90%;
    max-width: 400px;
    height: auto;
    transition: all 0.25s;
}

#footer .logo:hover {
    opacity: 0.7;
}

#footer .socialmedia {
    display: inline-block;
    padding-right: 10px;
    padding-top: 10px;
}

#footer .socialmedia i {
    color: #FFFFFF;
    transition: all 0.25s;
}

#footer .socialmedia i:hover {
    opacity: 0.7;
}

#footer-copyright {
    background: #000000;
    padding-top: 10px;
    padding-bottom: 5px;
}

#footer-copyright p {
    color: #AAAAAA;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

/*
 *  Media Queries
 */

@media screen and (max-width: 420px) {
    #call-to-action span {
        padding-right: 0px;
        padding-bottom: 10px;
    }
}
