html, body {
    margin: 0;
    padding: 0;
}

.background {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: 0;
}

body {
    font-family: "Museo Sans", Arial, sans-serif;
}

.row-notification {
    padding-top: 9px;
    text-align: center;
}

.row-header {
    background-size: cover;
    background-position: 10%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    min-height: 520px;
}

@media only screen and (max-width: 800px) {
    .row-header {
        background-attachment: scroll;
    }
}

.hackathon-image {
    text-align: center;
    padding-top: 30px;
}


@media only screen and (max-width: 600px) {
    .row-header {
        min-height: 450px;
    }
    .hackathon-image {
        padding-bottom: 15px;
    }
}

h1 {
    color: #146077;
    font-weight: 600;
}

p {
    letter-spacing: 0.02em;
}

hr {
    border-top: 1px solid #aaa;
}

.panel {
    border: 0px solid #E6E7E8;
    background: #f1f1f1;
    padding: 10px;
}

.event-info li {
    padding-bottom: 5px;
    font-size: 16px;
}

.btn-register {
    background: #FFFFFF;
    border: 2px solid #146077;
    color: #146077;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.04em;
    transition: all 0.25s;
}

.btn-register:hover {
    background: #146077;
    color: #FFFFFF;
}

.content p {
    font-size: 16px;
}

.row-articles {
    background: #2096BB;
    color: white;
    padding-bottom: 15px;
}

.list {
    list-style: none;
    padding-left: 10px;
}

ul.list li {
    font-size: 110%;
}

a {
    transition: all 0.25s;
    text-decoration: none;
}

a:hover {
    font-weight: 700;
    text-decoration: none;
}

.footer {
    background: #000000;
    padding-top: 20px;
    padding-bottom: 30px;
}

.footer-logo {
    width: 90%;
    max-width: 400px;
    height: auto;
    transition: all 0.25s;
}

.footer-logo:hover {
    opacity: 0.7;
}

.footer-socialmedia {
    display: inline-block;
    padding-right: 10px;
    padding-top: 10px;
}

.footer-socialmedia i {
    color: #FFFFFF;
    transition: all 0.25s;
}

.footer-socialmedia i:hover {
    opacity: 0.7;
}

.copyright {
    background: #000000;
    padding-top: 10px;
    padding-bottom: 5px;
}

.copyright p {
    color: #E6E7E8;
    text-align: center;
    font-size: 12px;
    text-transform: none;
    letter-spacing: 0.03em;
}
