html, body {
    margin: 0;
    padding: 0;
}

.header-background {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: 0;
}

body {
    font-family: "Museo Sans", Arial, sans-serif;
}

#header {
    background: #000;
    height: 100vh;
    min-height: 600px;
    background-size: cover;
    background-position: 10%;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

h1 {
    color: #146077;
    font-weight: 600;
}

h5 {
    font-weight: 700;
}

p {
    letter-spacing: 0.02em;
}

#content p {
    font-size: 16px;
}

a {
    transition: all 0.25s;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

#footer {
    background: #000000;
    padding-top: 20px;
    padding-bottom: 30px;
}

.footer-logo {
    width: 90%;
    max-width: 400px;
    height: auto;
    transition: all 0.25s;
}

.footer-logo:hover {
    opacity: 0.7;
}

.footer-socialmedia {
    display: inline-block;
    padding-right: 10px;
    padding-top: 10px;
}

.footer-socialmedia i {
    color: #FFFFFF;
    transition: all 0.25s;
}

.footer-socialmedia i:hover {
    opacity: 0.7;
}

.copyright {
    background: #000000;
    padding-top: 10px;
    padding-bottom: 5px;
}

.copyright p {
    color: #E6E7E8;
    text-align: center;
    font-size: 12px;
    text-transform: none;
    letter-spacing: 0.03em;
}
